body {
  font-family: sans-serif;
  margin: 2em;
  color: white;
  background-image: linear-gradient(45deg, rgb(177, 176, 176), rgb(53, 40, 40));
  width: 95vw;
  height: 92vh; 
  
}

p {
  margin: 2px;
}

textarea {
  font-size: 0.7em;
}

section {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  display: block;
  transform: rotateY(180deg);
}

button {
    background-color: red;
    padding: 6px;
    border-radius: 13px;
    border: 2px black solid;
    color: #fff;
    font-weight: bold;
    
}

.videoView {
  position: relative;
  width: 48vw;
}

#output_canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transform: rotateY(180deg);
}

.mediaView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}

#funny {
  width: 48vw;
  height: 50vh;
}

.dDiv {
  display: flex;
  justify-content: center;
}
